.Vue-Toastification__container {
  z-index: 999;
}

.Vue-Toastification__container>.Vue-Toastification__toast {
  @media(max-width: 600px) {
    min-width: 70vw;
    width: calc(100vw - 4.5rem);
    padding: 9px 12px;
    border-radius: 0.35rem;
    margin-left: 3.65rem;
    margin-top: 0.65rem;
    margin-bottom: 0;
    min-height: 2rem;
  }
}

.Vue-Toastification__icon {
  @media(max-width: 600px) {
    margin: 2px 12px 2px 0px;
  }
}